@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  padding: 50px 0px;
}

.table-degrees {
  width: 300px;
  text-align: center;
}

.table-degrees td {
  border: 1px solid #000;
}

.errorText {
  color: #ff0000;
  font-size: 12px;
}

#img-winter {
  position: relative;
  width: 200px;
}

.img-area {
  padding: 50px 0px;
}

#draggable-block {
  background-color: #4800ff;
  color: #fff;
  max-width: 150px;
  text-align: center;
  font-size: 12px;
  padding: 20px;
}


/* Calculator */
.calculator {
  max-width: 190px;
  padding: 5px 0 30px 0;
}

.btn-calc {
  background-color: #fff;
  box-shadow: 5px 5px 12px rgb(0 0 0 /16%);
  border: none;
  width: 40px;
  height: 40px;
  margin: 2px;
  cursor: pointer;
  border-radius: 50%;
}

.calc-header {
  padding-bottom: 10px;
}

#calc-display {
  background-color: #ffffff;
  box-shadow: inset 5px 5px 12px rgb(80 80 80 / 16%);
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  width: 100%;
}

.btn-clear {
  background-color: #ff0000;
  color: #fff;
}

.btn-result {
  background-color: #4800ff;
  color: #fff;
}

#calc-message {
  font-size: 10px;
  color: #ff0000;
}